
// #include <zephyr/dt-bindings/input/input-event-codes.h>


// &qspi{//additionally disabled in proj.conf
//     status = "disabled";
// };


//don't use  P0.08, P0.09, P0.23, P0.24
&pinctrl {
    spi4m_default: spi4m_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 4)>,//0.8
                <NRF_PSEL(SPIM_MISO, 1, 14)>,//0.12
                <NRF_PSEL(SPIM_MOSI, 0, 5)>; //0.09
            //bias-pull-up;
            //nordic,drive-mode = <NRF_DRIVE_E0E1>;
        };
    };

    spi4m_sleep: spi4m_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 4)>,//0.8
                <NRF_PSEL(SPIM_MISO, 1, 14)>,//0.12
                <NRF_PSEL(SPIM_MOSI, 0, 5)>; //0.09
            low-power-enable;
            //bias-pull-up;
            //nordic,drive-mode = <NRF_DRIVE_E0E1>;
        };
    };
};






my_spi_master:&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi4m_default>;
	pinctrl-1 = <&spi4m_sleep>;
	pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
    
    nand_device: spi-device@0 {
        status = "okay";
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <128000000>;//126000
        label = "nand_device";
    };
};

/ {
    aliases {
        led0 = &myled0;
    };
   
    leds {
        compatible = "gpio-leds";
        myled0: led_0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
                };
    };
   };

