
&qspi {
	status = "disabled";
};

&arduino_spi {
    reg_my_spi_master:reg_my_spi_master@0 {
        status = "okay";
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>;
        label = "reg_my_spi_master";
    };
};